doctype html

head
    title Look Inna Book: Checkout

body
    include head.pug
    h3 Checkout
    h4 #{prompt}
    table(style='width:750px' border='1')
        tr
            td
                .results
                    if rowCount > 0
                        form(action='/checkoutShipping' method='POST')
                            h3 Your order number: #{orderNumber}
                            table(style='width:600px' border='1')
                                each val, index in rows
                                    tr
                                        th
                                            a(href='/viewBook?ISBN=' + val.isbn) #{val.title}
                                        td
                                            p Price: $#{val.price}
                                        td
                                            #{val.quantity}
                                        td
                                            p Subtotal: $#{val.subtotal}
                                tr
                                    th
                                    td
                                    td
                                    td
                                        p Total: $#{total}
                            div
                            button(type='submit' name='checkout') Checkout
                    else
                        p No books found